# Basic String Operations

In [115]:
#Assigning string to variable a
a = "Hello World"

#Printing the value of variable a
print(a)

Hello World

## Accessing Individual Letters

In [3]:
#Assigning string to variable name
name = "Surya"

#Printing index value of 1 of variable name
print(name[1])

#Printing index value of -1 of variable name
print(name[-1])

u
a

In [5]:
#Assigning string to variable name
name = "Surya"

#Printing the substring of the variable name from index 1 to index 4
print(name[1:4])

#Printing the substring of the variable name from index 2 to the end
print(name[2:])

ury
rya

## String Length

In [6]:
#Assigning string to variable name
name = "Surya Teja"

#Printing the length of the name
print(len(name))

10

## String Replace

In [7]:
#Assigning string to variable name
name = "Surya"

#Using replace(old, new) to replace new with the old
print(name.replace("u", "v"))

Svrya

# String ConcatenATION

In [9]:
#Assigning string to variable fname
fname = "Surya"

#Assigning string to variable lname
lname = "Teja"

#Concatenating fname and lname to variable full_name
full_name = fname + " " + lname

#Printing the value of a variable full_name
print(full_name)

Surya Teja

# STRING METHODS

## isspace()

In [14]:
#Assigning string to a variable name
name = ' '

#Using isspace() to check if all the characters in the string contains spaces or not
print(name.isspace())

#Assigning string to a variable name
name = 'Surya Teja'

#Using isspace() to check if all the characters in the string contains spaces or not
print(name.isspace())

True
False

## isupper()

In [15]:
#Assigning string to a variable name
name = 'SURYA TEJA'

#Using isupper() to check if all the characters in the string are in uppercase or not
print(name.isupper())

#Assigning string to a variable name
name = 'Surya Teja'

#Using isupper() to check if all the characters in the string are in uppercase or not
print(name.isupper())

True
False

## islower()

In [16]:
#Assigning string to a variable name
name = 'surya teja'

#Using islower() to check if all the characters in the string are in lowercase or not
print(name.islower())

#Assigning string to a variable name
name = 'Surya Teja'

#Using islower() to check if all the characters in the string are in lowercase or not
print(name.islower())

True
False

## isalnum()

In [19]:
#Assigning string to a variable name
name = 'Surya'

#Using isalnum() to check all the above characters in the string are alphanumeric or not
print(name.isalnum())

#Assigning string to a variable name
name = 'Surya2006'

#Using isalnum() to check all the above characters in the string are alphanumeric or not
print(name.isalnum())

#Assigning string 'Hima 123' to a variable name
name = 'Surya 2006'

#Using isalnum() to check all the above characters in the string are alphanumeric or not
print(name.isalnum())

True
True
False

## isalpha()

In [23]:
#Assigning string to a variable name
name = 'Surya'

#Using isalpha() to check all the characters in the string are alphabetic or not
print(name.isalpha())

#Assigning string to a variable name
name = 'Surya2006'

#Using isalpha() to check all the characters in the string are alphabetic or not
print(name.isalpha())

True
False

## isdigit()

In [24]:
#Assigning string to a variable name
name = '2006'

#Using isdigit() to check all the characters in the string are digits
print(name.isdigit())

#Assigning string to a variable name
name = 'Surya2006'

#Using isdigit() to check all the characters in the string are digits
print(name.isdigit())

True
False

## startswith(char)

In [25]:
#Assigning string to a variable name
name = 'surya'

#Using startswith(char) to check the string starts with char
print(name.startswith('s'))

#Assigning string to a variable name
name = 'surya'

#Using startswith(char) to check the string starts with char
print(name.startswith('a'))

True
False

## endswith(char)

In [28]:
#Assigning string to a variable name
name = 'Surya'

#Using endswith(char) to check the above string ends with char
print(name.endswith('a'))

#Using endswith(char) to check the above string ends with char
print(name.endswith('S'))

True
False

## find(substring)

In [30]:
#Assigning string 'Hima Varshini' to a variable name
name = 'Surya Teja'

#Using find(char) to return the lowest index of the character
print(name.find('S'))

#Using find(char) to return the lowest index of the character
print(name.find('T'))

0
6

## Splitting a String

In [34]:
#Assigning string to a variable name
name = 'S,U,R,Y,A'

#Printing a list containing the words in the string
print(name.split(','))

['S', 'U', 'R', 'Y', 'A']

## lower()

In [36]:
#Assigning string to a variable name
name = 'SurYa'

#Printing the string into lowercase
print(name.lower())

surya

## upper()

In [38]:
## String Method - 
#Assigning string to a variable name
name = 'surya'

#Printing the string into uppercase
print(name.upper())

SURYA

## strip()

In [40]:
#Assigning string to a variable name
name = '   Surya Teja   '

#Printing the name of the string
print(name)

#Printing the strip() with all the white characters removed
print(name.strip())

   Surya Teja
Surya Teja

## strip(char)

In [45]:
#Assigning string to a variable name
name = ' Surya Teja  '

#Printing the name of the string
print(name)

#Printing the strip() with all the white characters removed
print(name.strip(' ur'))

 Surya Teja
Surya Teja

## lstrip()

In [46]:
#Assigning string to a variable name
name = '  Surya Teja  '

#Printing the name of the string
print(name)

#Returns a copy of the string with all leading whitespace characters removed
print(name.lstrip())

  Surya Teja
Surya Teja

## lstrip(char)

In [48]:
#Assigning string to a variable name
name = '  Surya Teja  '

#Printing the name of the string
print(name)

#Using lstrip(char) to remove leading spaces and characters
print(name.lstrip(' Su'))

#Using lstrip(char) to remove leading spaces and characters
print(name.lstrip(' Sury'))

  Surya Teja
rya Teja
a Teja

## rstrip()

In [49]:
#Assigning string to a variable name
name = '  Surya Teja  '

#Printing the name of the string
print(name)

#Returns a copy of the string with all trailing whitespace characters removed
print(name.rstrip())

  Surya Teja
  Surya Teja

## rstrip(char)

In [55]:
#Assigning string to a variable name
name = '   Surya Teja   '

#Printing the name of the string
print(name)

#Using rstrip(char) to remove trailing spaces and characters
print(name.rstrip(' ja'))

#Using rstrip(char) to remove trailing spaces and characters
print(name.rstrip(' Teja'))

   Surya Teja
   Surya Te
   Sury

# REGULAR EXPRESSIONS

In [90]:
# Regex-1: Email address pattern

import regex as re 
def tokenize(text):
    return re.findall(r'[a-zA-Z_\-]+@gmail.com', text)

x= tokenize("surya@gmail.com hi@gmail.com .com hello123")
print(x)

['surya@gmail.com', 'hi@gmail.com']

In [104]:
# Regex-2: Matches the beginning of the line - ^

import regex as re
def tokenize(text):
    return re.findall(r'^zelle', text)
                      
x = tokenize("zelle payment")
print(x)

y = tokenize("e")
print(y)

['zelle']
[]

In [106]:
# Regex-3: Matches the ending of the line - $

import regex as re
def tokenize(text):
    return re.findall(r'zelle$', text)

x = tokenize("Received payment via zelle")
print(x)

y = tokenize("Received")
print(y)

['zelle']
[]

In [108]:
## Regex-4: OR

import regex as re
def tokenize(text):
    return re.findall(r'hij|xyz', text)

x = tokenize("abcxyz abc xyz hijs xzy adbxzy")
print(x)

['xyz', 'xyz', 'hij']

In [112]:
## Regex-5: *

import regex as re
def tokenize(text):
    return re.findall(r'jk*', text)

x = tokenize("hijkk jk ijk kkk thkkk")
print(x)

['jkk', 'jk', 'jk']

In [114]:
## Regex-6: Matches any character except \n


import regex as re
def tokenize(text):
    return re.findall(r'..ll', text)

x = tokenize("pill cill duii cull dull")
print(x)

['pill', 'cill', 'cull', 'dull']